.alert-info {
    background-color: #acfff7;
    text-align: center;
    width: 100%;
    padding: 1em 0;
    border-style: solid;
    border-color: ghostwhite;
}
.hidden-on-desktop a {
    text-decoration: none;
    color: black;
}
body h1 {
    text-align: center;
    font-size: 3em;
    margin: 5px;
}
.nav-links {
    list-style: none;
    padding: 0px;
    text-align: center;
}
.nav-links li {
    margin: 1em 0;
    background-color: lightgray;
    padding: 1em;
}
.header-img img{
    width: 100%;
}
.sub-section {
    font-style: italic;
}
footer p {
    float: left;
}
#social-media-links {
    float: right;
}

@media screen and (min-width: 768px) {
    .hidden-on-desktop {
        display: none;
    }
    body{
        padding: 10px;
    }
    body h1 {
        text-align: left;
    }
    .nav-links {
        float: right;
    }
    .nav-links li {
        display: inline-block;
        background-color: transparent;
    }
    .main {
        float: left;
        width: 60%;
        margin-bottom: 300px;
    }
    .sub-section{
        float: right;
        width: 30%;
    }
    footer p {
        clear: both;
    }
}