body {
    margin: 20px;
    font-family: Helvetica;
}
h1 {
    text-align: center;
}
.alert-info a {
    background-color: #acfff7;
    display: block;
    text-align: center;
    padding: 15px;
    border: 2px solid rgb(193 193 193);
    text-decoration: none;
}

.nav-links {
    list-style: none;
    padding: 0px;
    text-align: center;
}
.nav-links li {
    margin: 1em 0;
    background-color: lightgray;
    padding: 15px 0;
}
.header-img img{
    width: 100%;
}
.sub-section {
    font-style: italic;
}
footer p {
    float: left;
}


div#social-media-links {
    font-size: 25px;
    float: right;
    display:inline;

}

#social-media-links a {
    margin-right: 10px;
    text-decoration: none;
}
@media screen and (min-width: 768px) {
    .hidden-on-desktop {
        display: none;
    }
    body{
        padding: 10px;
    }
    h1 {
        float: left;
    }
    .nav-links {
        float: right;
    }
    .nav-links li {
        display: inline-block;
        margin-left: 20px;
        background-color: transparent;
    }
    .main {
        float: left;
        margin-bottom: 300px;

    }
    .sub-section{
        float: left;

    }
    footer p {
        clear: both;
    }


}