.fancy-header {
    color: #C8C8CD;
    text-align: center;
}

h3 {
    color: #C8C8CD;
    text-decoration: underline;
    text-align: center;
}

.background {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/black_linen_v2.png");
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    color: teal;

}

ol ul {
    border: 5px;

}

.bulb {
    list-style-image: url("../pix/bulbpoint.jpg");
    align-content: center;
    margin: 10px;
    padding: 5px;

}


.box1 {
    position: relative;
    top: 25px;
    left: 0px;
    width: 400px;
    border: 1px solid white;
    float: left
}

.box2 {
    position: relative;
    top: 25px;
    left: 0;
    width: 400px;
    border: 1px solid white;
    float: left;

}

.box3 {
    position: relative;
    top: 25px;
    left: 0;
    width: 400px;
    border: 1px solid white;
    float: left;


}

table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    border-color: gray;
    padding: 10px;
}


tr, td, th {
    border-bottom: 3px solid #ddd;
    text-align: center;

}


.img-container {
    height: 250px;
   top: 25px;
    width: 24%;
    padding: 2px;
    position:relative;
    clear: both;
}

a:link {
    color: teal;
}
a:visited {
    color: teal;
}

a:hover {
    background-color: lightgreen;
}

a:active {
    background-color: hotpink;
}
